<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👨‍🍳Pastel de carne y patata</title>
</head>
<body>
    <marquee><h1>ℙ𝕒𝕤𝕥𝕖𝕝 𝕕𝕖 𝕔𝕒𝕣𝕟𝕖 𝕪 𝕡𝕒𝕥𝕒𝕥𝕒 😋</h1></marquee>
    <hr>

    <h2>Ingredientes</h2>
    <ul type="square">
        <li>500 g. de carne picada de ternera</li>
        <li>800 g. de patatas</li>
        <li>2 zanahorias medianas</li>
        <li>2 cebollas medianas</li>
        <li>2 dientes de ajo</li>
        <li>¼ vaso de vino (blanco o tinto)</li>
        <li>100 g. de tomate frito (casero)</li>
        <li>70 g. de queso italiano Grana Padano (o vuestro queso preferido para gratinar)</li>
        <li>70 ml. de aceite de oliva virgen extra</li>
        <li>Sal y pimienta recién molida (al gusto de cada casa)</li>
    </ul>
    
    <h2>Preparación del puré de patata</h2>
    <ol type="I">
        <li>Comenzamos por cocer las patatas con piel (para que no absorban más agua), hasta que las pinchemos y comprobemos que están en su punto. Las retiramos del agua y reservamos. Necesitamos que se atemperen para retirarles la piel sin quemarnos, con unos 5-6 minutos es más que suficiente, la piel se desprenderá con facilidad.</li>
        <li>Troceamos las patatas en dados, salpimentamos al gusto y las machacamos con la ayuda de un tenedor. Queremos obtener un puré de patatas homogéneo, sin grumos. Podéis usar también algún utensilio para machacar la patata. Si queréis un puré más suave se puede añadir un par de cucharadas de mantequilla, mezclándolas muy bien con el puré, así os quedará más cremoso. Reservamos.</li>
    </ol>

    <h2>Preparación del pastel de carne</h2>
    <ol>
        <li>Pelamos los ajos y los picamos finamente. Lavamos las zanahorias y las cortamos en rodajas finas. Pelamos las cebollas y las picamos en juliana pequeña. En una sartén grande vertemos aceite de oliva y a fuego medio vamos sofriendo el ajo picado. Añadimos la zanahoria y la cebolla, salamos al gusto, mezclamos y dejamos pochar durante 10 minutos a fuego medio.</li>
        <li>Salpimentamos la carne picada y la añadimos a la sartén. Con la ayuda de una cuchara de madera mezclamos con las verduras y vamos desmenuzando algún trozo de mayor tamaño. Cuando vaya tomando color la carne añadimos un cuarto de vaso de vino (blanco o tinto, al gusto). Otros 10 minutos y el vino estará reducido.</li>
        <li>Es ahora el turno del tomate frito, lo vertemos y removemos bien. Os recomiendo usar uno que sea casero, o en su defecto de buena calidad. Bajamos a fuego bajo y dejamos cocinar aproximadamente otros 15 minutos, para que vaya reduciendo y espesando la salsa.</li>
        <li>Elegimos una fuente de horno que tenga algo de altura (5-6 cm. por lo menos). Vamos a hacer un montaje de varias capas con el puré y la carne picada.</li>
    </ol>
    
    <h2>Horneado y presentación final del pastel de carne</h2>
    <ol>
        <li>Precalentamos el horno 5 minutos a 200º C.</li>
        <li>Echamos un poco de salsa de tomate casera de la sartén y la extendemos por la base de la fuente. De esta manera evitaremos que se nos pegue la primera capa de puré. Añadimos la mitad del puré de patata y extendemos uniformemente por toda la superficie de la fuente. Echamos ahora el relleno de carne picada y repartimos por la superficie. A continuación hacemos la capa superior con el puré de patata restante.</li>
        <li>Rallamos lo más fino posible nuestro queso preferido. Espolvoreamos la superficie de patata con el queso rallado. Se puede sustituir por el queso que más os guste, pero que sea un poco curado, de similares características al queso italiano Grana Padano, importante que se pueda rallar y gratinar.</li>
        <li>Colocamos la fuente en la bandeja central del horno y cocinamos 10 minutos a 200º C, con la función calor “arriba y abajo”. Pasado el tiempo, activamos la función grill para que se gratine finalmente el queso durante 5 minutos más.</li>
        <li>El tiempo total en el horno será de 15 minutos. Al retirarlo del horno tenemos que dejar reposar unos minutos, para que asiente el pastel de carne y sea más sencillo servir las raciones. Si está demasiado caliente, se deshará al intentar cortarlo y servirlo.</li>
    </ol>
    
    <a href="https://www.flickr.com/photos/auguas/albums/72157642502074265/with/13225255123" target="_blank" rel="noopener noreferrer">▶<b>Fotos</b> del paso a paso de la receta del pastel de carne y patata</a>
    <br>
    <a href="https://www.abc.es/recetasderechupete/pastel-de-carne-picada-y-patata-receta-inglesa/9627/" target="_blank" rel="noopener noreferrer">▶Leer receta original en la web <b>De Rechupete</b></a>
    <br>
    <a href="./torta_invertida_de_duraznos.html">▶Ir a la receta de la <b>Torta invertida de duraznos</b></a>
    <br>
    <a href="../../index.html">◀ Volver a la página principal</a>
    
    <marquee><pre>
         ▄▄█▀▀██          ▀██                      
        ▄█▀    ██   ▄▄▄▄   ██  ▄▄   ▄▄▄▄   ▄▄▄ ▄▄  
        ██      ██ ██▄ ▀   ██ ▄▀   ▀▀ ▄██   ██▀ ▀▀ 
        ▀█▄     ██ ▄ ▀█▄▄  ██▀█▄   ▄█▀ ██   ██     
         ▀▀█▄▄▄█▀  █▀▄▄█▀ ▄██▄ ██▄ ▀█▄▄▀█▀ ▄██▄  
    </pre></marquee>
    <!-- Estilos y emoticones de https://htmlcheatsheet.com/ -->

</body>
</html>