<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👨‍🍳Torta invertida de duraznos</title>
</head>
<body>
    <marquee><h1>𝕋𝕠𝕣𝕥𝕒 𝕚𝕟𝕧𝕖𝕣𝕥𝕚𝕕𝕒 𝕕𝕖 𝕕𝕦𝕣𝕒𝕫𝕟𝕠𝕤 😋</h1></marquee>
    <hr>

    <h2>Ingredientes:</h2>
    <ul>
        <li>
            <b>Rinde una torta de 26 cm aprox.</b>
            <ul>                
                <li>Manteca 50 g.</li>
                <li>Azúcar rubio 100 g.</li>
                <li>Duraznos sin pelar maduros 6 unid aprox, Siempre y cuando depende del tamaño.</li>
            </ul>
        </li>
        <li>
            <b>Para la masa:</b>
            <ul>
                <li>Manteca 240 g.</li>
                <li>Azúcar 230 g.</li>
                <li>Huevos grandes 4 unid.</li>
                <li>Ralladura de limón sutil 1 unid.</li>
                <li>Harina leudante 280 g.</li>
                <li>Harina de almendras 80 g.</li>
                <li>Leche 5 cdas.</li>
            </ul>
        </li>
        <li>
            <b>Para armar y decorar:</b>
            <ul>
                <li>Arándanos 1 blister.</li>
                <li>Almendras tostadas y picadas.</li>
                <li>Brillo en gel.</li>
            </ul>
        </li>
    </ul>   
    
    <h2>Procedimiento:</h2>
    <ol>
        <li>Precalentar el horno a 180ºC.</li>
        <li>Enmantecar una tortera desmontable y colocar una base de papel manteca. Volver a pincelar la base y ligeramente las paredes con manteca y espolvorear con azúcar rubio.</li>
        <li>Disponer las rodajas de duraznos (en gajos) cubriendo todo el fondo, una al lado del otro, formando una flor.</li>
        <li>Batir la manteca blanda con el azúcar y generar una crema.</li>
        <li>Agregar los huevos y saborizar con la ralladura de limón sutil (o limón amarillo, o por qué no esencia de vainilla).</li>
        <li>Agregar la harina leudante con la harina de almendras, Intercalando con la leche y mezclar.</li>
        <li>La masa debe quedar algo floja, si es necesario agregar un poquito más de leche. Agregar duraznos en cubos y arándanos (o frambuesas).</li>
        <li>Volcar la masa sobre las rodajas de Durazno y cubrir con cuidado logrando tapar toda la fruta.</li>
        <li>Hornear durante 25 a 30 minutos aprox. Debe dorar bien la superficie y la tarta se separa levemente del borde del molde.</li>
        <li>Retirar del molde y dejar enfriar dos minutos.</li>
        <li>Desmoldar cuidadosamente, y dar vuelta sobre el plato de presentación.</li>
        <li>Retirar con mucho cuidado el papel manteca. Calentar el brillo en gel y pincelar la superficie de la fruta. Espolvorear el lateral de la torta con almendras picadas y ralladura de limón.</li>
        <li>Servir tibia.</li>
    </ol>
    
    <a href="https://www.cocinerosargentinos.com/pasteleria/torta-invertida-de-duraznos" target="_blank" rel="noopener noreferrer">▶Leer receta original en la web <b>Cocineros argentinos</b></a>
    <br>
    <a href="https://elgourmet.com/recetas/tarta-invertida-de-anana/" target="_blank" rel="noopener noreferrer">▶Receta alternativa: <b>Tarta Invertida de Ananá🍍</b> de la web elGourmet</a>
    <br>
    <a href="./pastel_de_carne_y_patata.html">▶Ir a la receta del <b>Pastel de carne y patata</b></a>
    <br>
    <a href="../../index.html">◀ Volver a la página principal</a>

    <marquee><pre>
         ██████╗ ███████╗██╗  ██╗ █████╗ ██████╗ 
        ██╔═══██╗██╔════╝██║ ██╔╝██╔══██╗██╔══██╗
        ██║   ██║███████╗█████╔╝ ███████║██████╔╝
        ██║   ██║╚════██║██╔═██╗ ██╔══██║██╔══██╗
        ╚██████╔╝███████║██║  ██╗██║  ██║██║  ██║
         ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝        
    </pre></marquee>
    <!-- Estilos y emoticones de https://htmlcheatsheet.com/ -->

</body>
</html>